:root {
    --green: rgb(157, 207, 186);
    --off-white: rgb(223, 227, 226);
    --button-green: rgb(116, 109, 20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: .5rem;
    padding: .5rem;
    width: 100vw;
    font-family: "Instrument Sans", sans-serif;
}

header {
   
    height: 20rem;
    background-image: linear-gradient(to right bottom, rgba(157, 207, 186, .8), rgba(223, 227, 226, 0.5), rgb(116, 109, 20, .5)), url(../images/epices-africaines.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

h1 {
    padding-top: 5vw;
    text-transform: capitalize;
    text-align: center;
    color: var(--off-white);
    font-size: 60px;
}
.main {
min-height: 1000px;
}
.first-section h3,h4,p {
    font-size: larger;
    font-weight: ;
}
.first-section ul {
    column-count: 2;
}
ul li {
    list-style: none;
}
.first-section > ul > li> img {
 height: 100px;
 border-radius: 30%;
 
}
.first-section ul li {
    display: flex;
    height: 80px;
    margin: 30px;
}
span {
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    margin-left: .5rem;
}
.description-text{
    margin-top: 3rem;
}
.numbers {
    font-size: 50px;
    font-weight: bold;
}
.preparation-plan {
    display: flex;
    justify-content: space-around;
}
.preparation-plan img  {
    height: 400px;
    width: 30vw;
}
.fish_grilled img {
    width: 60rem;
    height: 40rem;
    margin-left: 22%;
    margin-top: 2em;
}
em {
    opacity: .5;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
