.mainbox {
    display: flex;
    gap:100px;
    /* padding: 25px; */
}

.e-sel-main {
    height: 100vh;
    display: grid;
    place-content: center;
}
.box {
    /* background-color: var(--off-white); */
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.box h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 20px auto;
}

.sel-image {
    width: 450px;
    height: 350px;
}

/* @keyframes h1 {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
} */





/* .left {
    animation-name: left;
    animation-duration: 1s;
    animation-timing-function: ease-in;

}

.right {
    animation-name: right;
    animation-duration: 1s;
    animation-timing-function: ease-in;
} */

/* @keyframes right {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes left {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes img {
    0% {
        transform: scale(0.5);

    }

    100% {
        transform: scale(1);

    }
} */


.rec-sel-button {
    background-color: var(--button-green);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

.mainbox button:hover {
    background-color: #3f3f3f;

}

.mainbox button a:hover {
    color: var(--button-green);
}

.mainbox button a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: x-large;
}

