* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: rgb(157, 207, 186);
    --off-white: rgb(223, 227, 226);
    --button-green:rgb(116, 109, 20);
}


body {
    height: 100%;
}

html {
    background-color: #F7B787;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.logo img {
    height: 50px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
  }

.navbar li{
    margin-left: 20px;
    display: inline;
    justify-content: space-between;
 }