* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: rgb(157, 207, 186);
    --off-white: rgb(223, 227, 226);
    --button-green: rgb(116, 109, 20);
}



html {
    background-color: #F7B787;
    position: relative;
}

body {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/pic4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

header {
    /* width: 100%; */
    height: 10vh;
    position: relative;
}

.logo img {
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    /* margin-right: 10rem; */
    display: inline;
    margin: 0px 50px;
    list-style: none;

}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
}

.dot-wrapper-1,
.dot-wrapper-2 {
    width: 115px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0px;
}

.dot {
    background-color: white;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

main {
    display: flex;
    justify-content: center;
}

.hero {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 75px auto;
}

.top-hero,
.bottom-hero {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.center-hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.center-hero-bottom-wrapper>* {
    padding: 8px;
}

.center-hero-wrapper {
    display: flex;
}

.chevron-bottom {
    font-size: 30px;
    margin-right: 70px;
}

.chevron-top {
    font-size: 25px;
    margin-left: 20px;
}

.hero-heading {
    font-size: 70px;
    line-height: 1;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 0px 5px;
    font-weight: 700;
    font-style: normal;
}

.hero-heading>* {
    padding: 15px 0px;
}

.explore {
    color: white;
}

.center-hero-wrapper>div {
    background-color: white;
    width: 10px;
    height: 135px;
    position: absolute;
    left: -35px;
}

.heading-color {
    color: var(--green);
}

.hero-button {
    width: 165px;
    height: 50px;
    border: 1px solid var(--button-green);
    border-radius: 23px;
    font-size: 22px;
    font-weight: 700;
    padding: 3px 4px;
    margin: 12px 7px;
    color: white;
    text-transform: uppercase;
    background-color: var(--button-green);
}

.chevron {
    display: flex;
    color: white;
    align-self: center;
}

.button-icon {
    margin-left: 10px;
}

.center-hero-bottom-wrapper p {
    line-height: 1.6;
    color: white;
    font-size: 18px;
    word-wrap: normal;
    text-wrap: wrap;

}

.left-hero {
    width: 650px;
    /* border: 2px solid blue; */
}

.hero-left-wrapper {
    display: flex;
    justify-content: end;
    width: 50%;
}

.right-hero {
    width: 50%;
}

.navbar li {
    margin-left: 20px;
    display: inline;
    justify-content: space-between;
}

.footer {
    color: rgb(223, 227, 226);
    padding: 20px 0;
    text-align: center;
}

.footer-top h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
    color: rgb(29, 30, 12);
}

.footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footer-follow h4,
.footer-newsletter h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: rgb(29, 30, 12);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: rgb(223, 227, 226);
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: rgb(116, 109, 20);
}

.footer-newsletter form {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: none;
    align-items: center;
}

.footer-newsletter input {
    padding: 5px;
    border: none;
    border-radius: 23px;
    background-color: #f5f5f5;
    color: #333;
    min-width: 200px;
}

.footer-newsletter button {
    position: absolute;
    width: 40px;
    height: 25px;
    border-radius: 23px;
    font-size: 16px;
    padding: 2px 3px;
    color: white;
    text-transform: uppercase;
    background-color: #746d17;
    right: 0px;
}

.footer-newsletter button:hover {
    background-color: #3f3f3f;
}

.footer-newsletter a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.footer-bottom {
    padding: 10px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.footer-links a {
    color: rgb(223, 227, 226);
    text-decoration: none;
}

.footer-bottom p {
    margin: 10px 0 0 0;
    color: rgb(223, 227, 226);
}

/* nikolas css for foodbox */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 590px;
    background-color: rgba(245, 236, 236, 0.315);
    box-shadow: 0 10px 25px rgba(19, 17, 17, 0.2);
    margin-top: -25px;

}

.foodbox {
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
    box-sizing: border-box;
    color: rgb(29, 27, 27);
}

.foodbox img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    animation: showRight 2s ease forwards;
    animation-delay: .4s;

}

.foodbox h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;

}

.foodbox button {
    background-color: rgb(29, 30, 12);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    width: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
    padding-left: 15px;


}

.foodbox button:hover {
    background-color: var(--button-green);
    color: white;
}

.foodbox p {
    font-size: large;
    margin: 10%;


}

.foodbox a {
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;

}

@keyframes showRight {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.carousel-wrapper {
    height: 590px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid var(--off-white);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    background-color: var(--button-green);
}

.arrow-prev {
    left: 35px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -65px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: white;
}

/* @media (max-width: 480px) {

    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
} */


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;

}


*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

.contact {
    width: 600px;
    color: white;
    margin: 25px auto;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 10px 25px rgba(19, 17, 17, 0.2);
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact>h3 {
    text-align: center;
}

#name,
#email,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#form-submit {
    width: 100%;
    height: 50px;
    border: 1px solid var(--button-green);
    border-radius: 23px;
    font-size: 22px;
    font-weight: 700;
    padding: 3px 4px;
    margin: 12px 7px;
    color: white;
    text-transform: uppercase;
    background-color: var(--button-green);
    cursor: pointer;
}

#form-submit:hover {
    background-color: #45a049;
}



@media (width < 1200px) {
    .hero {
        flex-direction: column;
        margin: 100px auto;
    }

    .left-hero {
        /* width: 700px; */
        margin: 0 auto;
    }

    .hero-left-wrapper {
        width: 100%;
    }

    .right-hero {
        width: 100%;
    }

    .carousel-wrapper {
        margin: 50px auto;
        width: 400px;
    }

    .box {
        width: 400px;
        height: max-content;
    }

    .carousel-item {
        padding: 0;
        transition: none;
    }

    .arrow-prev {
        left: -15px;
        position: absolute;
        top: 45%;
    }

    .arrow-next {
        right: -15px;
        position: absolute;
        top: 45%;
    }

    .foodbox img {
        margin-top: 20px;
        animation: none;
    }
}